body{
    padding: 0;
    margin: 0;
}

#black{
    background-color: black;
}

#body{
    max-width: 1000px;
    align-self: center;
}

.flex{
    display: flex;
}

.vertical{
    flex-direction: column;
}

.horizontal{
    flex-direction: row;
}

#banner{
    justify-content: space-evenly;
    padding: 15px;
}

#banner, #content, #footer{
    background-color: #1f2937 ;
}

#banner div{
    align-items: center;
    justify-content: center;
}

#logo{
    font-size: 24px;
    color: #f9faf8;
}

#empty{
    flex-basis: auto;
}

#header-list{
    display: inline;
}

.header{
    display: inline;
    color: #f9faf8;
}

#content{
    align-items: center;
    justify-content:space-evenly;
    padding: 25px;
    padding-bottom: 50px;
}

h1{
    color: #f9faf8;
    font-weight: bolder; 
    font-size: 48px;
}

#description{
    width: 40%;
}
#content p{
    font-size: 18px;
    color: #e5e7eb
}

.img-div{
    width: 40%;
    justify-content: center;
}

#supplemental-info{
    align-items: center;
    padding-bottom: 50px;
    background-color: white;
}

#series{
    width: 75%;
    align-items: center;     
    justify-content: space-around;
}

.supp-info{
    margin: 10px;
    align-items: center;
    width: 15%;
}

#quote-div{
    background-color: #e5e7eb;
    padding: 15px;
    align-items: center;
}

blockquote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0;
    width: 66%;
}

#thor{
    font-weight: bold;
    align-self: flex-end;
    margin-top: 5px;
    padding-right: 15%;
    
}

#white{
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    background-color: white;
}

#cta{
    width: 75%;
    background-color: #3882f6;
    justify-content: space-around;
    border-radius: 5px;
    align-items: center;
}

#cta-text{
    justify-content: center;
}

#call{
    color: #f9faf8;
    margin-bottom: 0;
}

#sign{
    color: #e5e7eb;
    margin-bottom: 15px;
}

.signup{
    background-color: #3882f6;
    width:fit-content;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 7px;
    height: min-content;
    padding: 5px 20px 5px 20px;
}

#cta .signup{
    border-color: white;
}

#footer{
     justify-content: center;
     color: #e5e7eb;
     padding: 25px;
}